= simple_form_for @paste, defaults: {:input_html => {:class => 'form-control'}},
  html: {role: 'form'}  do |f|
  = explain_errors @paste
  .form-group
    = f.input :js_expire, as: :date_time_picker, default: Paste.expire_period
    = f.input :title
    = f.input :paste, label: "Summary *", input_html: {data: {provide: "markdown"}}
  .form-group
    = f.button :submit, class: "btn-success"
  %p= link_to '<b>*</b> indicates Github-flavored markup enabled text area'.html_safe, help_markdown_path
