= content_for :header_title do
  - if @pastes.blank?
    %div
      = glue_bottle_img
      %p= "There are currently no #{'expired' if action_name == 'expired'} pastes"
  - else
    = page_title("Pastes in the system")

- if @pastes.present?
  %table.table.table-striped.table-bordered
    %caption Active Pastes
    %thead
      %tr
        %th.links &nbsp;
        %th       Title or Trancated Sample of Paste
        %th       Created
    - if will_paginate(@pastes)
      %tfoot
        %tr
          %td{colspan: 3}
            = will_paginate @paste
    %tbody
      - @pastes.each do |paste|
        %tr
          %td
            %ul.nav.nav-list
              %li= link_to show_link_no_text, paste, alt: 'show', name: 'show'
              %li= link_to edit_link_no_text, edit_paste_path(paste), alt: 'edit', name: 'edit'
              %li= link_to delete_link_no_text, paste, confirm: 'Are you sure?', method: :delete, alt: 'delete', name: 'delete'
          %td= markdown(paste.read_title)
          %td= display_timestamp(paste.created_at)

= content_for :sub_navbar do
  = link_to fa_icon('trash-o', text: 'expired pastes'), expired_index_path, class: 'btn btn-danger'
  = link_to new_link_no_text, new_paste_path, class: 'btn btn-success'
