= content_for :header_title do
  - if @pastes.blank?
    %p There are currently no pastes
  - else
    = page_title( "Pastes in the system" )

- if @pastes.present?
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th.links &nbsp;
        %th       Title or Trancated Sample of Paste
        %th       Created

    - if will_paginate(@pastes)
      %tfoot
        %tr
          %td{:colspan => 3}
            = will_paginate @paste

    %tbody
      - @pastes.each do |paste|
        %tr
          %td
            %ul.nav.nav-list
              %li
                = link_to show_text, paste, alt: 'show', name: 'show'
              %li
                = link_to edit_text, edit_paste_path(paste), alt: 'edit', name: 'edit'
              %li
                = link_to delete_text, paste, confirm: 'Are you sure?', method: :delete, alt: 'delete', name: 'delete'
          %td= markdown(paste.read_title)
          %td= ccap_timestamp(paste.created_at)

= content_for :nav_bar_sub do
  = link_to 'new paste', new_paste_path, :class => 'btn btn-success btn-large'
  = link_to badges("show expired", Paste.expired.length), old_pastes_path, :class => 'btn btn-success btn-large'
