= content_for :sidebar_content do
  %table.table.table-condensed
    %tr
      %td Created:
      %td= @paste.created_at.to_formatted_s(:long_ordinal) if @paste.created_at.present?
    %tr
      %td Expires:
      %td= @paste.expire.to_formatted_s(:long_ordinal) if @paste.expire.present?

= content_for :h3_content do
  %div.lead= @paste.title.titleize

= preserve do
  = markdown( @paste.paste )

= content_for :sub_navbar do
  %div.nav.nav-pills
    = link_to index_link_no_text,  pastes_path, class: 'btn btn-primary'
    = link_to new_link_no_text, new_paste_path, class: 'btn btn-primary'
    = link_to edit_link_no_text, edit_paste_path(@paste), class: 'btn btn-primary'
